.vertical-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .slider-item {
    text-decoration: none;
    color: #b0b0b0;
    padding: 10px;
    width: 100%;
    border-left: 4px solid #d3d3d3;
    transition: all 0.3s;

    & h4 {
      margin-bottom: 15px;
    }

    & span {
      line-height: 1.6;
    }

    &:hover {
      background-color: #f0f0f0;
    }

    &.active {
      color: #393f48;
      border-left: 4px solid orange;
    }
  }
}
